<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="js/vendors/bootstrap/css/bootstrap-cerulean.min.css" />
		<link href="js/vendors/jquery-vertical-navigation/css/app.css" rel="stylesheet" />
		<link rel="stylesheet" href="js/vendors/accordion/accordion.css" />
		<script type="text/javascript" src="js/vendors/require.js" data-main="js/myscript/main"></script>
		<title>DocsPage</title>
	</head>

	<body>
		<div id="docPage">
			<div id="contentWrapper" class="container-fluid">
				<div id="contentLeft">
					<ul id="leftNavigation" class="accordion">
						<li>
							<div class="link">
								test
								<i class="glyphicon glyphicon-chevron-down"></i>
							</div>
							<ul class="submenu">
								<li v-for="item in items">
									<a href="#">{{item.text}}</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div id="contentRight">

					<div class="row">
						<div class="col-xs-11 col-md-11">
							<ol class="breadcrumb" id="breadcrumb" style="min-height:38px;"></ol>
						</div>
						<div class="col-xs-1 col-md-1" style="padding-left:0px">
							<button id="back2Map" class="btn btn-primary" onclick="parent.window.back2Map()">返回地图
							</button>
						</div>
					</div>
					<div id=filesPanel class="panel panel-default">
						<div class="panel-heading">
							<div class="panel-title row">
								<div class="col-xs-9 col-sm-9">
									<div class="input-group input-group-sm">
										<input id="searchArea" type="text" class="form-control" placeholder="快速查询" aria-describedby="sizing-addon3">
										<span class="input-group-btn">
                                    <button id="goBtn" class="btn btn-primary" type="button">Go!</button>
                                </span>
									</div>
								</div>
								<div class="col-xs-3 col-sm-3 pull-right">
									<div class="btn-group-sm" role="group">
										<button type="button" id="backBtn" class="btn btn-primary">返回上一级</button>
									</div>
								</div>
							</div>
						</div>
						<div id="progress" class="progress" style="height: 10px">
							<div class="progress-bar" style="height: 10px"></div>
						</div>
						<div class="panel-body">
							<div id="content">
								<div class="row">
									<template v-for="file in files">
										<div class="col-sm-6 col-md-3">
											<div style="padding:0px;cursor:pointer;width:80px;height:65px;margin-left:auto;margin-right:auto;text-align:center;box-shadow:3px 4px 3px" class="thumbnail">
												<!--<thumb-component></thumb-component>-->
													
												<!--<img style="width:80px;height:65px" v-bind:src="getSrc(file.fileType,file.href)" v-on:click="contentClickHandler(file.id)"/>-->
												<!--<img style="width:80px;height:65px" src="{{nailSrc(file.fileType,file.href))}}" />-->
											</div>
										</div>
									</template>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>